body{
    font-family: verdana,sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2{
    color:#FC0;
    border-top:2px solid #FFF;
    border-bottom:2px solid #FFF;
    padding-bottom:25px;
    padding-top: 25px;
    text-align:center;
}

p{
    color:#FC0;
    font-size:2em;
}
li {
    color: #fc0;
    text-decoration: none;
}

p span{font-size:2em;
}

.contenedor {

   width: 75%;
    margin: auto;
    margin-top: 0;
    background-color:#334873;
    min-height: 800px;
}